@import '../../variables.scss';
$star-width: 80px;
$star-height: 16px;

// .rate {
//   // float: left;
//   // height: 46px;
//   // padding: 0 10px;
// }
.rate:not(:checked) > input {
  display: none;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: $cl-yellow;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: $cl-yellow;  
}


.rating__stars{
  position: relative;
  // font-size: 0;
  width: $star-width;
  height: $star-height;
}
.rating__stars::before{
  content:"";
  display:block;
  height:100%;
  width: $star-width;
  background:url('../../../public/stars.svg') transparent no-repeat center;
  background-size: $star-width $star-height;
}
.rating__stars div{
  position:absolute;
  top:0;
  left:0;
  display: block;
  height:100%;
  width: 0%;
  overflow:hidden;
}
.rating__stars div::before{
  content:"";
  display: block;
  height:100%;
  width: $star-width;
  background:url('../../../public/stars-active.svg') transparent no-repeat center;
  background-size: $star-width $star-height;
}
