@import '../../variables.scss';

.main-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 0;

  @include iphoneX {
    padding: 24px 0;
    padding-bottom: 40px;
  }
}

.main-content__block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 80px;
}

.statistic {
  justify-content: space-between;
  flex-wrap: wrap;
}

.next {
  justify-content: space-between;

  @include iphoneX {
    flex-direction: column;
  }
}

.next-block {
  flex: 1;
  margin-bottom: 24px;

  @include iphoneX {
    margin-bottom: 42px;
  }

  &:first-child {
    margin-right: 32px;

    @include iphoneX {
      margin-right: 0;
    }
  }

  &:last-child {
    @include iphoneX {
      margin-bottom: 0;
    }
  }
}

.past {
  flex-direction: column;
}

.past__meetings {
  display: flex;
  justify-content: space-between;
}

.queque-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.queque-list__item {
  margin-bottom: 10px;
  opacity: 0.5;

  @include iphoneX {
    font-size: 14px;
  }
}

.queque-list .queque-list__item:first-child :not(.queque-list--hidden) {
  font-size: 28px;

  @include iphoneX {
    font-size: 20px;
  }
}

.next-book {
display: flex;
width: inherit;
}

.next-book__info{
  padding-top: 24px;
}

.next-book__cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  max-height: 280px;
  margin-right: 24px;

  img {
    width: 100%;
    height: auto;
  }
}