@import '../../variables.scss';

.main-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 0;

  @include iphoneX {
    padding: 24px 0;
    padding-bottom: 40px;
  }
}

.main-content__block {
  display: flex;
  width: 100%;
  margin-bottom: 80px;
}

.statistic {
  justify-content: space-between;
}

.next {
  justify-content: space-between;
}

.next-block {
  flex: 1;

  &:first-child {
    margin-right: 32px;
  }
}

.past {
  flex-direction: column;
}

.past__meetings {
  display: flex;
  justify-content: space-between;
}

.queque-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.queque-list__item {
  margin-bottom: 10px;
  opacity: 0.5;
}

.queque-list .queque-list__item:first-child :not(.queque-list--hidden) {
  font-size: 28px;
}

.next-book {
display: flex;
width: inherit;
}

.next-book__info{
  padding-top: 24px;
}

.next-book__cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 280px;
  margin-right: 24px;
  // background-image: url('../../../public/atomic-book.png');

  img {
    width: 100%;
    height: auto;
  }
}