@import '../../variables.scss';

.main-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 0;

  @include iphoneX {
    padding: 24px 0;
    padding-bottom: 40px;
  }
}

.main-content__block {
  display: flex;
  width: 100%;
  margin-bottom: 80px;
}

.statistic {
  justify-content: space-between;
}

.next {
  justify-content: space-between;
}

.next-block {
  flex: 1;

  &:first-child {
    margin-right: 32px;
  }
}

.past {
  flex-direction: column;
}

.past__meetings {
  display: flex;
  justify-content: space-between;
}



.main-content__title {
  font-size: 32px;
  margin-bottom: 40px;
  color: $grey-color;

  @include iphoneX {
    font-size: 16px;
    margin-bottom: 21px;
  }
}

.link-see-all {
  font-size: 16px;
  color: $grey-color;
  cursor: pointer;

  @include iphoneX {
    font-size: 14px;
  }
}

.link-see-all:hover {
  color: black;
}

.queque-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.queque-list__item {
  margin-bottom: 10px;
  opacity: 0.5;

  &:first-child {
    font-size: 32px;
  }
}

.next-book {
display: flex;
width: inherit;
}

.next-book__cover {
  width: 30%;
  height: 280px;
  margin-right: 24px;
  background-color: antiquewhite;
}