@import '../../variables.scss';

$padding: 12px;

body {
  background-color: $cl-whitesmoke;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include iphoneX {
    justify-content: center;
    gap: 0;
    margin-bottom: 16px;
  }
  
}


.card-item {
  width: 31%;
  height: 285px;
  padding: 0;
  margin-bottom: 56px;

  @include iphoneX {
    width: 230px;
    height: 380px;
    
    margin-bottom: 24px;
    padding-bottom: 16px;
  }
}

.card {
  display: flex;
  flex-direction: row;
  height: 100%;

  @include iphoneX {
    flex-direction: column;
  }
}



.card__next {
  position: absolute;
  top: -3%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  height: 20px;
  border-radius: 10px;
  background-color: $cl-green;
  z-index: 5;

  span {
    font-size: 12px;
    text-transform:uppercase;
    letter-spacing: 1px;
    color: white;
  }
}

.card__container {
  padding: 0 $padding;
}

.card-deco {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 12px;
  background-color: #e7e7e7;
  
  border-radius: 25px 25px 0px 25px;

  @include iphoneX {
    align-items:flex-end;
    flex-basis: 60%;
    border-radius: 25px 25px 0 0;
    
  }
}

.card-deco__emoji {
  position: absolute;
  top: $padding;
  left: $padding;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:lightblue;
}

.card-deco__cover {
  display: flex;
  justify-content: center;
  width: 120px;
  height: inherit;
  border-radius: 5%;
  img{
    width: inherit;
    height: inherit;
    border-radius: inherit;
    box-shadow: 10px 14px 25px $grey-color;
  }

  @include iphoneX {
    width: 76%;
    height: inherit;
  }
}

.card-info {
  padding-top: 16px;

  @include iphoneX {
    padding-top: 8px;
  }
}

.card-info__rating {
  margin-bottom: 8px;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating__wrapper {
  display: flex;
  align-items: center;
}

.rating__average {
  font-size: 16px;
  color: $cl-lightgrey;

  @include iphoneX {
    font-size: 14px;
  }
}

.rating__rated, .card-info__time, .visiting__info-text {
  font-size: 16px;
  color: $cl-lightgrey;

  @include iphoneX {
    font-size: 12px;
  }
}

.rating__rated--yellow, .visiting__info--yellow {
  font-size: 16px;
  font-weight: bold;
  color: $cl-yellow;
  
  @include iphoneX {
    font-size: 14px;
  }
}

.card-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.card-info__title {
  font-size: 18px;
  font-weight: 500;
  text-align: start;
  margin-bottom: 24px;
  color: $cl-navy;

  @include iphoneX {
    font-size: 14px;
  }
}

.card-info--wrapper {
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card-info__chosenby {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  background-color: antiquewhite;
}

.card-info__progress-line {
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex-grow: 1;
}

.visiting {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-line, .progress-line__progress{
  height: 8px;
  border-radius: 25px;
  margin-bottom: 8px;
}

.progress-line {
  width: 100%;
  background-color: $cl-whitesmoke;
}

.progress-line__progress {
  width: 0%;
  background-color: $cl-yellow;
}