.new-meeting-page {
  display: flex;
  justify-content: center;
  padding: 64px 0;
}

.meeting-form-block {
  margin-bottom: 52px;
}

.meeting-form-block input {
  margin-right: 10px;
}

.meeting-form__title {
  margin-bottom: 24px;

}