@import '../../variables.scss';

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
  margin-bottom: 24px;

  .link {
    color: inherit;
  }

  @include iphoneX {
    margin-bottom: 10px;
  }
}

.header a {
  text-decoration: none;
}

.header a:visited {
  color: black;
}

.header__title{
  font-size: 28px;
  font-weight: 500;
  padding: 16px 0;
  margin-right: 8px;
  margin-bottom: 0;
  color: inherit;

  @include iphoneX {
    font-size: 16px;
    margin-right: 4px;
  }
}

.header__logo{
  width: 72px;

  @include iphoneX {
    width: 36px;
  }
}

.header-login {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: inherit;
}

.header-login:hover .link{
  color: $grey-color;
}