.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
  border-bottom: 1px solid var(--grey-color);
}

.header a {
  text-decoration: none;
}

.header a:visited {
  color: black;
}

.header__title{
  font-size: 32px;
  font-weight: 500;
  margin-right: 8px;
  margin-bottom: 0;
}

.header__logo{
  width: 72px;
}

.header-logo__link {
  display: flex;
  align-items: center;
}

.header-login {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.header-login__link {
  font-size: 20px;
}

.header-login:hover .header-login__link{
  color: var(--grey-color)
}