.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
  border-bottom: 1px solid var(--grey-color);
}

.header a {
  text-decoration: none;
}

.header a:visited {
  color: black;
}

.header__title{
  font-size: 32px;
  font-weight: 500;
  margin-right: 8px;
  margin-bottom: 0;
}

.header__logo{
  width: 72px;
}