.forms {
  padding-top: 80px;
}

.new-meeting, .new-participant {
  display: flex;
  justify-content: center;
}

.meeting-form, .participant-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 64px 0;
}

.form-block {
  margin-bottom: 40px;
}

.form-block input {
  margin-right: 10px;
}

.form-block__title {
  margin-bottom: 8px;
}

.form-block__label {
  margin-right: 8px;
  margin-bottom: 8px;
}